:root {
   /*--primary-color: rgb(255, 119, 0);*/
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }

  body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
  }

  .container {
    display: flex;
    height: 100vh;
  }

  .login-box {
    width: 50%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
  }

  .login-box h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .login-box p {
    margin-bottom: 20px;
    color: #888;
  }

  .login-box input {
    margin-bottom: 15px;
    padding: 12px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
  }

  .login-box button[type="submit"] {
    padding: 12px;
    background-color: #111827;
    color: white;
    border: none;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
  }